body {
background-color: #F0F8FF;
}
h1,h2,h3 {
  text-align: center;
}/* that's awesome that that works!*/

div {
  border-radius: 10px;
  border: 2px solid;
  margin: 10px;
  padding: 10px;
  background-color: #FAEBD7;
}
.words {
  width: 350px;
}
div.genre{
  display: inline-block;
}

img.standup {
  border: 2px solid red;
  border-radius: 10px;
}

img.improv {
  border: 2px solid orange;
  border-radius: 10px;
}

img.sketch {
  border: 2px solid yellow;
  border-radius: 10px;
}

img.sitcom {
  border: 2px solid green;
  border-radius: 10px;
}

img.movie {
  border: 2px solid blue;
  border-radius: 10px;
}

img.parody {
  border: 2px solid purple;
  border-radius: 10px;
}
